<a href="https://colab.research.google.com/github/AnkitaAnalytics/Python-for-Data-Science/blob/main/Carprices_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd

In [5]:
path = "/content/drive/MyDrive/Datasets/carprices (1).csv"
df= pd.read_csv(path)

In [6]:
df.head()

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,...,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,four,sedan,front,99.8,176.6,66.2,54.3,...,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,...,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0

# Find the details of the car at 78th number

In [7]:
df.loc[77] #gives all the details of 78th car or the car at 77th index

car_ID                             78
symboling                           2
carname             mitsubishi lancer
doornumber                        two
carbody                     hatchback
enginelocation                  front
wheelbase                        93.7
carlength                       157.3
carwidth                         64.4
carheight                        50.8
curbweight                       1944
cylindernumber                   four
enginesize                         92
boreratio                        2.97
stroke                           3.23
compressionratio                  9.4
horsepower                         68
peakrpm                          5500
citympg                            31
highwaympg                         38
price                          6189.0
Name: 77, dtype: object

In [8]:
df.loc[77,'carname'] #gives the carname at 77th index using loc function

'mitsubishi lancer'

In [10]:
df.iloc[77, 2] #using iloc function

'mitsubishi lancer'

# Determine the number of sedans in the df_cars dataframe

In [12]:
df[df['carbody'] == 'sedan'].shape[0] #method 1

96

In [13]:
len(df[df['carbody'] == 'sedan'])  #method 2

96

# Find the number of cars in the dataframe that are convertibles with a city mileage greater than 20 and a price lower than 15000.

In [14]:
len(df[(df['carbody'] == 'convertible') & (df['citympg'] > 20) & (df['price'] < 15000)])

2